aniso8601==1.0.0
click==3.3
ecdsa==0.11
Flask==0.10.1
Flask-Cors==2.1.0
Flask-RESTful==0.3.3
httplib2==0.9
itsdangerous==0.24
Jinja2==2.7.3
MarkupSafe==0.23
numpy==1.9.2
paramiko==1.15.2
protobuf-py3==2.5.1
pycrypto==2.6.1
pygobject==3.16.2
pymongo==2.7.1
pytz==2015.4
pyxdg==0.25
PyYAML==3.11
requests==2.7.0
riemann-client==6.0.2
rpm-python==4.12.0.1
six==1.9.0
team==1.0
Unidecode==0.4.16
virtualenv==12.0.1
Werkzeug==0.10.4
whisper==0.9.13
