extends layout

block content
  div.row
    div.col.s12.m6.l6
      div.card.blue-grey.darken-1
        div.card-image
          img(src='/image')
    div.col.s12.m6.l3
      div.card.blue-grey.darken-3
        div.card-content.orange-text.text-lighten-2
          span.card-title Temperature
          h1.center-align #{dht.temperature}&#8451;
    div.col.s12.m6.l3
      div.card.blue-grey.darken-3
        div.card-content.orange-text.text-lighten-2
          span.card-title Humidity
          h1.center-align #{dht.humidity}%
    div.col.s12.m6.l3
      div.card.blue-grey.darken-3
        div.card-content.orange-text.text-lighten-2
          span.card-title Moisture
          h1.center-align #{moisture.moisture}%
  div.row
    div.col.s12.m6.l3
      div.card.blue-grey.darken-1
        div.card-content
          span.card-title Light
          p.center-align
            i#light.switch.material-icons.text-accent-3(class=(light ? 'light-green-text' : 'grey-text')) power_settings_new
    div.col.s12.m6.l3
      div.card.blue-grey.darken-1
        div.card-content.white-text
          span.card-title Fan
          p.center-align
            i.switch.material-icons.grey-text.text-accent-3 not_interested
    div.col.s12.m6.l3
      div.card.blue-grey.darken-1
        div.card-content.white-text
          span.card-title Pump
          p.center-align
            i.switch.material-icons.grey-text.text-accent-3 not_interested
    
block append js
  script(src='/js/index.js')
